<div class="behindcolor">

<div class="social-menu">
    <h1 class="contacts">Contact Me</h1>
    <ul>
    <li><a href="https://www.linkedin.com/in/goki28/"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://mail.google.com/mail/u/0/?tab=wm#inbox?compose=CllgCJfscjzFVBbJjHVslFjLHZpfDfRNTqXmzWjdFmcTbvJvQHVTbrfjZPQhqlfvRddJfbTPjZg"><i class="fa fa-envelope-open"></i></a></li>
    <li><a href="https://www.instagram.com/goki.997/"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://github.com/goki62"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</div>