<div class="wrapper">
  <div class="bg-color">
    <div class="">
      <h1 class="title">Hi, I'm Gorjan. Nice to meet you</h1>
      <h2 class="introduction-story">As a web developer, I enjoy bridging the gap between engineering and design -
        combining my technical knoledge with my keen eye for design to create a beautiful product. My goal is to always
        build applications that are scalable and efficent under the hood while providing engaging, pixel-perfect user
        experience . I'm quietly confident, naturally curious, and perpetually working on improving my chops
        one design problem at a time. <b>When I'm not in front of a computer screen</b>, I'm probably reading books,
        travelling or going out partying</h2>
    </div>
    <div class="cards">
      <mat-card class="project-card1">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Periodic Table</mat-card-title>

        </mat-card-header>
        <img mat-card-image class="card1-img" src="assets/images/Periodic Table.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Periodic table made by using Angular, rxjs and AngularMaterial to make it just a bit more interactive and
            better looking also makes learning chemistry slightly more interesting
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://periodic-table-c8196.firebaseapp.com/"> <button mat-button class="demo-btn">DEMO</button></a>
          <a href="https://github.com/goki62/periodic-table"> <button mat-button class="code-btn">CODE</button></a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="project-card2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Task Tracker</mat-card-title>

        </mat-card-header>
        <img mat-card-image src="assets/images/Task tracker.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Task tracker app made using Angular with Scss and json server which is used to help organise your day or
            week without forgeting your chores
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://yoo-first-project.firebaseapp.com/"><button mat-button class="demo-btn">DEMO</button></a>
          <a href="https://github.com/goki62/projects/tree/main/Task-tracker"> <button mat-button
              class="code-btn">CODE</button></a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="project-card3">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tic-tac-toe 4x4</mat-card-title>

        </mat-card-header>
        <img mat-card-image src="assets/images/tic-tac-toe.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Simple classic game of tic-tac-toe with a slight change, it's still played the same way but now i'ts a
            bit bigger and more fun
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://tic-tac-toe-bff4f.firebaseapp.com/"><button mat-button class="demo-btn">DEMO</button></a>
          <a href="https://github.com/goki62/projects/tree/main/Tic-tac-toe%20(4x4)"><button mat-button
              class="code-btn">CODE</button></a>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>

</div>